/* #LESS> */
// Cookie consent dialog should have a z-index low enough to stay below dropdowns and modals
@zindex-cookie-consent: (@zindex-dropdown - 10);

@pagination-active-bg: @brand-primary;
@pagination-active-border: @brand-primary;

// Variables used in Sidebar Menu Lists
@myresearch-menu-ul-margin-bottom: 0;
@myresearch-menu-ul-padding-left: 0;
/* <#LESS */
/* #SCSS>
// Cookie consent dialog should have a z-index low enough to stay below dropdowns and modals
$zindex-cookie-consent: (@zindex-dropdown - 10) !default;

$pagination-active-bg: @brand-primary !default;
$pagination-active-border: @brand-primary !default;

$myresearch-menu-ul-margin-bottom: 0 !default;
$myresearch-menu-ul-padding-left: 0 !default;
<#SCSS */

@font-face {
    font-family: 'Gotham SSM';
    src: url('../css/fonts/gothamnarrssm_book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


// Colores
@primary-color: #73253d;        
@secondary-color: #721a42;       
@accent-color: #4B0C27;        
@background-color: #f9f9f9;      
@text-color: #3b121f;           
@muted-color: #747174e8;        
@border-color: #ccc;            
@highlight-color: #8a6515;
@hover-bg-color: #b0b0b0; 